<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Hridesh & Simon E-Commerce</title>
</head>
<body class="d-flex flex-column h-100">
    <div class="content-container" align="center">
    {% include 'nav.html' %}
    <!--Handles Flash messages consistently-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <a class="close flash-button btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</a>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    </div>
        <footer class="footer mt-auto py-3">
            <p><a href="#">Conditions of Use</a> | <a href="#">Privacy Notice</a> | <a href="#">Your Ads Privacy Choices</a></p>
            <p>© 2023, H&S E-commerce, Inc.</p>
        </footer>
</body>
</html>